.container {
    height: 60vh;
    background-color:#ccc;
    display:grid;
    grid-template-columns: repeat(3, minmax(10vw, 20vw));
    justify-content:center;
    gap: 10px 10px;
    max-width:80vw;
    margin:0 auto;

}

/* .item-5{grid-auto-rows:minmax(50px, 200px)} */

.item {
    background-color:#00f;
    border-radius: 10px;
    padding:10px;
    color:white;
    font-size:24px;
}

.item-1{
    /* grid-row-start
        grid-column-start
        grid-row-end 
        grid-column-end 
    */
    grid-area: 1/1/2/3;
}