.container {
    height: 60vh;
    background-color:#ccc;
    display:grid;
    gap: 10px 10px;
    max-width:80vw;
    margin:0 auto;

    grid-template-areas: 
    "header header  header  header"
    "nav    section section section"
    "footer footer  footer  ads";

}

.item {
    background-color:#00f;
    border-radius: 10px;
    padding:10px;
    color:white;
    font-size:24px;
}

.header{
    grid-area:header;
}

.nav{
    grid-area:nav;
}

.section{
    grid-area:section;
}

.footer{
    grid-area:footer;
}

.ads{
    grid-area:ads;
}